
#cont-selector {
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: white;
    z-index: -1;
}
#cont-select {
    width: 80%;
    margin: 0 auto;
    margin-left: 11.5%;
    margin-top: 1%;
}

.select {
    margin-left: 0;
    background-color: white;
    color: #1C1C1C;
    padding: 5px;
    border-radius: 5%;
    display:inline-block;
    border: 1px solid lightgrey;
    width: 18%;
}


.filter-button {
    color: black;
    width: 150px;
    height: auto;
    background-color: red;
    display: inline-block;
    margin-left: 3%;
    padding: 7px;
    border-radius: 2px;
    background-color: #e86363;
    color: white;
    text-align: center;
    border: solid 1px #e86363 ;

}



/*li:active
{
   border-top-right-radius: 2px;
    border-bottom-right-radius:2px ;
   width: 110%; 
}*/